html {
    /* 1 */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    background: #fff;
    color: #666;
}

html,
body,
#map {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
}

#map {
    width: 100%;
    height: 100%;
}


/* photo/video popup */

.leaflet-popup-photo a.leaflet-popup-close-button {
    top: -13px;
    right: -13px;
    background-color: #fff;
    padding: 5px;
    border-radius: 12px;
    width: 15px;
    height: 15px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    color: #555;
}

.leaflet-popup-photo a.leaflet-popup-close-button:hover {
    color: #333;
    background-color: #eee;
}

.leaflet-popup-photo .leaflet-popup-content-wrapper {
    padding: 6px;
    border-radius: 4px;
}

.leaflet-popup-photo .leaflet-popup-content {
    margin: 0;
    max-height: 300px;
}

.leaflet-popup-photo .leaflet-popup-tip {
    background: white;
}

.leaflet-popup-photo img,
.leaflet-popup-photo video {
    display: block;
    width: 300px;
    height: auto;
}

.leaflet-popup-photo p {
    margin: 0 8px 8px 8px;
}

.leaflet-popup-photo h3 {
    display: block;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 8px;
}

.navibar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    width: 100%;
    padding: 0;
    font-size: 1.6em;
    z-index: 2000;
    height: 56px;
    line-height: 2em;
    transition: height 0.3s linear 0s, padding 0.3s linear 0s;
    transition: box-shadow 250ms;
}

.navibar img {
    position: relative;
    top: 10px;
    left: 18px;
    object-fit: cover;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.navibar h1 {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
    display: block;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

body>div.container {
    position: fixed;
    top: 54px;
    bottom: 32px;
    right: 0;
    left: 0;
    vertical-align: top;
}

footer {
    position: fixed;
    height: 24px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px;
    text-align: center;
    background-color: #555;
    color: #fff;
}