.lg-exif {
    margin: 0;
    padding: 0;
}

.lg-exif-topbar {
    position: relative;
    padding: 0.8em 1em;
    height: 48px;
    width: 100%;
    border-bottom: 1px rgb(204, 204, 204) solid;
    transition: box-shadow 250ms;
}

div.metadata {
    height: calc(100% - 60px);
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

div.metadata #map {
    margin: 1.2em 1.0em;
}

div.metadata div.content {
    position: relative;
    margin: 8px 4px 0 0;
    height: 100%;
    padding: 1em;
    overflow: auto;
}

div.metadata h3 {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 500;
    width: 95%;
    float: none;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    padding-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid
}

div.metadata div.content::-webkit-scrollbar,
#partners-list::-webkit-scrollbar:hover {
    width: 5px;
}

div.metadata div.content::-webkit-scrollbar-thumb,
#partners-list::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(150, 150, 150, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

div.content label {
    display: block;
    font-style: italic;
    font-size: 0.81em;
}

div.content span {
    display: block;
    font-size: 1em;
    margin: 0;
    width: 18em;
    padding: 0 0 1em 0.6em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.lg-exif .lg-hide {
    margin-top: 1px;
}