#albums a {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    box-shadow: @box-shadow;
    border: 2px solid #fff;
}

#albums h3 {
    font-size: 1.75em;
    font-weight: 800 !important;
}

#albums .summary {
    font-size: 1.0em;
    font-weight: 600 !important;
}

.albumList {
    box-shadow:@box-shadow;
}