// -----------------------------------
// Breadcrumbs navigation
// -----------------------------------

.breadcrumbs {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.8em;
    line-height: 2em;
    height: 40px;
    width: 100%;
    background-color: @crumbs-background;
    padding-left: 50px;
    box-shadow: @crumbs-box-shadow;
    transition: height 0.3s linear 0s;
}

a.breadcrumb-item,
span.breadcrumb-item-last {
    color: @crumbs-textcolor;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 43px;
    height: 43px;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 4px solid transparent;
    padding: 0 8px 0 8px;
    z-index: 500;
}

a.breadcrumb-item:hover,
span.breadcrumb-item-last {
    color: @crumbs-hovercolor;
    border-bottom: 4px solid @crumbs-hovercolor;
}

span.breadcrumb-item-last {
    cursor: default;
}

.breadcrumbs span.breadcrumb-sepeartor {
    position: relative !important;
    top: 4px !important;
    right: 0 !important;
    font-size: 1.2em !important;
    padding: 0 8px 0 8px;
}