// -----------------------------------
// Generic styles
// -----------------------------------

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
}

html,
body {
    font-family: 'Quicksand', 'Quicksand-Light', -apple-system, "Helvetica Neue", 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1.1px;
    line-height: 1.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Quicksand';
    src: url('assets/fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url('assets/fonts/Quicksand/Quicksand-Light.ttf');
}

body {
    background: @body-background;    
    font-weight: normal;
    color: @fontcolor;
    margin-bottom: 1em;
    position: relative;
    color:@fontcolor;
}

a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color:@fontcolor;
}

a:active, a:hover {
    text-decoration: none;
    color:@hovercolor;
    cursor: pointer;
    outline: none
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}

.space36{
    display: inline-block;
    height:36px;    
    width:100%;
}

.space3em{
    display: inline-block;
    height:3em;
    line-height: 3em;
    width:100%;
}