// -----------------------------------
// Header
// -----------------------------------

#pagetop-home {
    position: relative;
    width: 100%;
    background-image: url('assets/header.jpg');
    height: 200px;
    width: 100%;
    background-size: 100%;
    background-attachment: scroll;
    background-position: 50% 50%;
    color: @header-titlecolor;
    z-index: 1000;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    transition: height 0.3s linear 0s, padding 0.3s linear 0s;
    transition: box-shadow 250ms;
}

.header-notFixed {
    position: relative;
    color: @header-titlecolor;
    display: none;
    z-index: 1000;
    width: 100%;
    height: 54px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    transition: height 0.3s linear 0s, padding 0.3s linear 0s;
    transition: box-shadow 250ms;
}

#pagetop-home h1 {
    position: absolute;
    left: 54px;
    bottom: 15px;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
    color: @header-titlecolor;
    text-shadow: @header-text-shadow;
}

#pagetop-home h1 a {
    color: @header-titlecolor;
}

#pagetop-home .appname {
    display: inline-block;
    position: relative;
    left: 12px;
    bottom: 42px;
    width: 172px;
}

#pagetop-home .avatar {
    position: relative;
    bottom: 40px;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

#pagetop-home .pageinfo {
    display: inline-block;
    position: absolute;
    right: 26px;
    bottom: 56px;
    color: @header-titlecolor;
    font-size: 1.0em;
    font-weight: 500;
    width: 120px;
    text-shadow: @header-text-shadow;
}

.stickybar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fafafa;
    cursor: default;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.35);
    width: 100%;
    padding: 0;
    font-size: 1.6em;
    z-index: 2000;
    height: 56px;
    line-height: 2em;
    transition: height 0.3s linear 0s, padding 0.3s linear 0s;
    transition: box-shadow 250ms;
}

.stickybar img {
    position: relative;
    top: 10px;
    left: 18px;
    object-fit: cover;
    width: 32px;
    height: 32px;
    z-index: 500;
    border-radius: 4px;
}

.stickybar h1 {
    position: absolute;
    left: 0;
    top: 2px;
    width:100%;
    display: block;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}