// -----------------------------------
// Overwrite light gallery style
// -----------------------------------

.lg-outer .lg-thumb-item {
    border: 1px solid transparent !important;
    border-radius: 0;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border: 1px solid #fff !important;
    border-radius: 0;
}

.lg-outer .lg-thumb-outer {
    background-color: rgba(0, 0, 0, .35) !important;
}

.lg {
    border: none !important;
}