.megamenu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fafafa;
    height: 100%;
    width: 420px;
    overflow: scroll;
    z-index: 5000;
    display: none;
    box-shadow: 0 12px 0 0 rgba(0, 0, 0, .35)
}

#megaitems {
    padding-top: 20px;
}

.megamenu-title {
    padding-left: 4px;
    padding-top: 18px;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.megamenu-title a {
    border-bottom: 3px solid transparent;
}

.megamenu-title .link-home:hover {
    cursor: pointer;
    color: @hovercolor;
    border-bottom: 3px solid @hovercolor
}

.megamenu-title .link-alben {
    cursor: default;
    color: @hovercolor;
}

.megamenu #albums {
    margin: 1em 0 0 40px;
}

.megamenu .card {
    width: 154px;
    height: 132px;
}

.megamenu .card-photo {
    width: 100%;
    height: 96px;
}

.megamenu #albums .card-info h3 {
    font-size: 0.9em;
    text-align: center;
}

.megamenu #albums .card-info .summary,
.megamenu #albums .card-info .date {
    display: none;
}

.menu-close {
    position: relative;
    top: 3px;
    border: 0;
    width: 44px;
    background-color: transparent;
    font-size: 1.4em;
}

.menu-close:hover {
    color: @hovercolor;
    cursor: pointer;
}