@media only screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header .icon-arrow-left {
        position: absolute;
        right: 50px;
        top: 10px;
        font-size: 2.5em;
        color: @header-titlecolor;
        cursor: pointer;
    }

    header .icon-arrow-right {
        position: absolute;
        top: 0;
        left: 0;
        right: 8px;
        top: 10px;
        font-size: 2.5em;
        color: @header-titlecolor;
        cursor: pointer;
    }

    .page-title {
        line-height: 3em;
        font-size: 1.2em;
    }

    .page-teaser-desc h2,
    .page-header .home,
    .page-albumtitle {
        font-size: 2.0em;
    }

    .page-teaser-desc h3 {
        font-size: 1.5em;
    }

    .page-teaser-desc p {
        font-size: 0.9em;
    }

    .page-top {
        height: 420px;
    }

    .megamenu #albums {
        margin: 1em 0 0 24px;
    }

    .megamenu .card {
        margin-right: 16px;
    }

    .stickybar h1 {
        margin-left: 24px;
    }
}

@media only screen and (max-width: 320px) {

    .megamenu {
        width: 100%;
    }

    .megamenu #albums {
        margin: 1em 0 0 66px;
    }

    .megamenu .card {
        width: 181px;
        height: 139px;
    }

    #container {
        top: 50px;
    }

    .page-teaser-desc h2,
    .page-header .home,
    .page-albumtitle {
        font-size: 1.45em;
    }

    .page-teaser-desc h3 {
        font-size: 1.0em;
        font-weight: 400;
    }

    .card {
        width: 304px;
    }

    .page-title {
        line-height: 3em;
        font-size: 1.1em;
    }

    .stickybar h1 {
        font-size: 0.9em;
        margin-left: 24px;
    }

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {}

/* Small Smartphones (portrait) ----------- */
@media only screen and (max-width : 440px) {

    #pagetop-home h1 {
        position: absolute;
        left: 16px;
        bottom: 15px;
        font-size: 1.0em;
        line-height: 1.2em;
    }

    #pagetop-home .avatar {
        height: 45px;
        width: 45px;
    }

    #pagetop-home .appname {
        font-size: 1em;
        width: 40%;
    }

    #pagetop-home .pageinfo {
        right: 12px;
        bottom: 56px;
        font-size: 0.75em;
        font-weight: 400;
        width: 30%;
    }

    .page-teaser-desc h2,
    .page-header .home,
    .page-albumtitle {
        font-size: 1.50em;
    }

    .page-teaser-desc h3 {
        font-size: 1.15em;
        font-weight: 400;
    }

    .megamenu {
        width: 100%;
    }

    .megamenu .card {
        margin-right: 10px;
    }

    .page-title {
        line-height: 3em;
        font-size: 1.2em;
    }

    #albums {
        margin: 0;
        margin-left: 30px;
    }

    .card {
        width: 90%;
        margin-right: 5%;
    }

    footer .left,
    footer .right {
        font-size: 0.5em;
        font-weight: 300;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #albums {
        margin: 0;
        margin-left: 30px;
    }

    .card {
        width: 340px;
        margin-right: 1.5em;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}