// -----------------------------------
// Structure
// -----------------------------------

#container {
    position: relative;
    top: 50px;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    padding-bottom: 100px;
}

#container.default {
    top: -32px !important;
}

#media {
    margin: 0;
    margin-bottom: -35px;
    overflow: hidden;
    min-height: 100%;
    border-width: 0 0 0 10px;
    border-color: transparent;
    border-style: solid;
}

h2.albumtitle,
h2.gallerytitle {
    display: inline-block;
    font-size: 2em;
    line-height: 2.5em;
    font-weight: 700;
    color: @header-titlecolor;
    margin-bottom: 24px;
    text-shadow: 0px 2px 3px #555;
}

h2.albumtitle {
    margin-left: 20px;
}


.shimlayer {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 100;
    height:100%;
    width:100%;
}