<header id="pagetop-home"> 
   <div class="header-fixed">
    <h1>      
        <a href="{{relative gallery.home.url}}">
            {{#if settings.logo }}
            <img src="{{settings.logo}}" class="avatar"></img>
            {{/if}}
            <span class="appname">{{{gallery.title}}}</span>
        </a>
    </h1>
    {{#compare album.depth '==' 0}}
    <span id="pageinfo" class="pageinfo">{{album.summary}}</span>
    {{/compare}}
  </div>  
</header>
