{{#compare album.title '!=' 'Home'}}
  <nav id="menu" class="menubar">  
    <a class="menubutton" href="#">&#9776;</a>
    <h1 id="sitelogo" class="logo">        
        <a href="{{relative gallery.home.url}}">
            {{#if settings.logo }}
            <img id="logo" src="{{settings.logo}}" title="{{settings.application}}"></img>
            {{else}}
            <img id="logo" src="public/assets/avatar.jpg" title="Back to Home"></img>
            {{/if}}
        </a>
    </h1>
    {{#if @root.settings.assets}}
    <span class="page-title">{{{settings.tabHome}}} {{album.title}}</span>
    {{else}}
    <span class="page-title">{{{title}}}</span>
    {{/if}}
  </nav>
{{/compare}}
{{#compare album.files.length '==' 1}} 
  {{#compare album.title '==' 'Home'}}
    <div class="stickybar">
      {{#if settings.logo }}
      <img id="logo" src="{{settings.logo}}" title="{{settings.application}}"></img>
      {{/if}}
      <h1>{{gallery.title}}</h1>
    </div>
  {{/compare}}
  <div class="page-top{{#compare album.title '==' 'Home'}} page-home{{/compare}}">
      <div class="page-header" style="background-image: url('{{relative  album.files.[0].urls.large}}')">
        {{#compare album.title '==' 'Home'}}
        <h2 class="home">{{settings.covertitle}}</h2>
        {{/compare}}
        <div class="page-teaser-desc">
            {{#compare album.title '!=' 'Home'}}
            <h2>{{settings.albumsPrefix}}&nbsp;{{album.title}}</h2>
            {{/compare}}
            <h3>{{album.files.0.meta.exif.ImageDescription}}</h3> 
            {{#if album.files.0.meta.exif.Copyright.length }}
                {{#if album.files.0.meta.exif.DocumentName.length }}
                    <a class="avatar-link" href="{{album.files.0.meta.exif.DocumentName}}" title="{{album.files.0.meta.exif.DocumentName}}">
                        <img src="{{@root.settings.assets}}{{album.files.0.meta.exif.Copyright}}" class="avatar-small" alt="" title="{{album.files.0.meta.exif.DocumentName}}"></img>
                    </a>
                {{else}}
                    <img src="{{@root.settings.assets}}{{album.files.0.meta.exif.Copyright}}" class="avatar-small" alt="" title="{{album.files.0.meta.exif.Artist}}"></img>
                {{/if}}
            {{/if}}
            <p>{{album.files.0.meta.exif.Artist}}</p>   
            <p>{{translate @root.settings album.summary}}</p>        
        </div>
      </div>
  </div>
{{/compare}}
{{#compare album.files.length '==' 0}}
  <div class="page-albumtitle">
  <h2>{{settings.albumPrefix}} {{album.title}}</h2>
  </div>
{{/compare}}
