<div class="cd-popup" role="alert">
	<div class="cd-popup-container">
        <h2>Modal Dialog</h2>
        <a href="#0" class="cd-popup-close img-replace"></a>
		<div id="cd-content">Are you sure you want to delete this element?</div>
	</div>
</div>