{{!--   
  Page template to render the Fotobook application.
  Uses the partials content and the thumbsup video loader.
  @Autor  : Peter Siebler
  @Version: 1.1.0 
--}}
<!DOCTYPE html>
<html lang="de" prefix="og: http://ogp.me/ns#">
  <head>
      <meta charset="utf-8" />
      <title>{{gallery.title}} - {{album.title}}</title>
      <meta name="viewport" content="width=device-width, user-scalable=no" /> 
      <meta name="application-name" content="{{settings.application}} {{settings.appVersion}}">     
      <meta name="author" content="{{settings.author}}">
      <meta name="robots" content="noindex,nofollow">
      <meta name="format-detection" content="telephone=no">
      <meta name="generator" content="thumbsup">
      <link rel="apple-touch-icon" sizes="180x180" href="public/assets/icons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="public/assets/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="public/assets/icons/favicon-16x16.png">
      <link rel="manifest" href="public/assets/icons/site.webmanifest">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <!-- build:css public/gallery.min.css -->
      <link rel="stylesheet prefetch"  href="{{relative 'public/lightgallery/css/lightgallery.min.css'}}" />
      <link rel="stylesheet prefetch"  href="{{relative 'public/lightgallery/css/lg-exif.min.css'}}" />    
      <link rel="stylesheet prefetch"  href="{{relative 'public/core.css'}}" />
      <link rel="stylesheet prefetch"  href="{{relative 'public/theme.css'}}" />
      <link rel="stylesheet prefetch"  href="{{relative 'public/justifiedgallery/justifiedGallery.min.css'}}" />
      <!-- endbuild -->
  </head>
  <body>
    {{> content}}
    {{> video-loader}}
    <div class="shimlayer">&nbsp;</div>
    <!-- build:js assets/js/app.min.js -->
    <script src="{{relative 'public/jquery.min.js'}}"></script>    
    <script src="{{relative 'public/lightgallery/js/lightgallery.min.js'}}"></script>
     <script src="{{relative 'public/lightgallery/js/lg-fullscreen.min.js'}}"></script>
     <script src="{{relative 'public/lightgallery/js/lg-zoom.min.js'}}"></script>
    <script src="{{relative 'public/lightgallery/js/lg-thumbnail.min.js'}}"></script>
    <script src="{{relative 'public/lightgallery/js/lg-video.min.js'}}"></script>
    <!--script src="{{relative 'public/lightgallery/js/lg-exif.js'}}"></script-->
    <script src="{{relative 'public/leaflet/leaflet-src.js'}}"></script>
    <script src="{{relative 'public/lightgallery/js/lg-metadata.js'}}"></script>
    <script src="{{relative 'public/justifiedgallery/jquery.justifiedGallery.min.js'}}"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      var USE_DATA_ATTRIBUTES = false;
      $(document).ready(function() {        
        {{!--   init lightGallery  --}}
        $("#media").lightGallery({
            controls: true,
            loop : true,
            download: false,
            counter: false,
            videojs: true,
            videoMaxWidth: "2000px",
            /*set the title for the meta data view*/
            metatitle: "Foto Information",
            mapheadline: "Aufnahmeort",
            /*
              translate default meta from data section
              attributename, label || grouplabel  
            */
            metakeys: { 'filename': 'Dateiname', 
                        'sub-html':'Beschreibung',
                        'datetimeoriginal':'Aufnahme Datum',                         
                        'make':'Kamera',
                        'model':'Kamera',
                        'city':'Stadt',                         
                        'gpslongitude':'Längengrad',
                        'gpslongituderef':'Längengrad',
                        'gpslatitude':'Breitengrad',
                        'gpslatituderef':'Breitengrad',
                        'shutterspeedvalue':'Verschlusszeit',
                        'isospeedratings':'Kamera Einstellung',                         
                        'iso':'Kamera Einstellung',
                        'focallength':'Kamera Einstellung',                        
                        'exposuretime':'Kamera Einstellung',
                        'fnumber':'Kamera Einstellung' },
            exThumbImage: 'data-exthumbimage'
        });
        {{!--   Init justified gallery for photos  --}}           
        $("#media").justifiedGallery({
          selector: '.albumList',
          margins: 5,
          rowHeight:250,
          maxRowHeight: 320,
          cssAnimation:true,
          waitThumbnailsLoad: false
        });      
      });
      //open popup
      $('.cd-open').on('click', function(event){
        event.preventDefault();
        $('.cd-popup').addClass('is-visible');
      });      
      //close popup
      $('.cd-popup-close').on('click', function(event){
          event.preventDefault();
          $('.cd-popup').removeClass('is-visible');
      });
      //close popup when clicking the esc keyboard button
      $(document).keyup(function(event){
          if(event.which=='27'){
            $('.cd-popup').removeClass('is-visible');
          }
      });
      //open sidebar with album teasers
      var megaContent = false;
      function handleMegaItems(){
          $('.shimlayer').toggle()
          $('.megamenu').fadeToggle( "slow", "linear" );
          if (megaContent) return;
          $('#megaitems').load("index.html #albums").fadeIn('slow');
          megaContent = true;
      }      
      $('.menubutton').on('click', function(event){
          event.preventDefault(); 
          handleMegaItems();     
      });
      $('.menu-close').on('click', function(event){
          event.preventDefault(); 
          handleMegaItems();     
      });
      $('.shimlayer').on('click', function(event){
          event.preventDefault(); 
          if (!megaContent) return;
          handleMegaItems();     
      });
      $(window).scroll(function () {
        if ($(window).scrollTop() >= 300) {
          $('header-fixed').hide();
          $('header-notFixed').show();
        } else {          
          $('header-notFixed').hide();
          $('header-fixed').show();
        }
      });
    </script>
  </body>
  <!-- (c) 2019 Peter Siebler -->
</html>