// -----------------------------------
// Variables for user customisation
// -----------------------------------

/* Style version 2019-05-10 11:50 */

@header-titlecolor: #FFFFFF;
@header-shadowcolor: 0 0 7px 0 rgba(0, 0, 0, .35);
@header-text-shadow: 0px 2px 3px #424242;

@crumbs-background: #FFFFFF;
@crumbs-textcolor: #424242;
@crumbs-hovercolor:#007ee5;
@crumbs-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);

@menubar-background: #fafafa;

@body-background: #D2DBDD;
@container-headerborder: #d4d3d3;

@fontcolor: #424242;
@text-color: #424242;
@borders: #F5F5F5;
@bluecolor: #007ee5;
@actioncolor: #424242;

@card-background-color: #FFFFFF;

@box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6); //0px 13px 10px -7px rgba(0, 0, 2505, 0.1);

@hovercolor:#007ee5;

@footer-foreground: #E0E0E0;
@footer-background: rgba(0, 0, 0, 0.85);
@footer-box-shadow: 7px 0 0px 0 rgba(0, 0, 0, .35);

@menubar-box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
@mobile-trigger: 480px;

// -----------------------------------
// all style settings
// -----------------------------------
@import "public/styles/generic.less";
@import "public/styles/font.less";

// @import "public/styles/header.less";
// @import "public/styles/breadcrumbs.less";
@import "public/styles/header.less";
@import "public/styles/pagemenu.less";
@import "public/styles/pagecover.less";
@import "public/styles/structure";
@import "public/styles/album-cards.less";
@import "public/styles/thumbnails.less";
@import "public/styles/lightgallery.less";
@import "public/styles/coverItem.less";
@import "public/styles/footer.less";
// @import "public/styles/modal.less";
@import "public/styles/megamenu.less";
@import "public/styles/mobile.less";
@import "public/styles/scrollbars.less";
@import "public/styles/metadata.less";